.footer-main {
    padding: 15px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.created-by {
    display: inline-block;
    vertical-align: middle;
    color: #ddd;
}

.created-by * {
    vertical-align: middle;
}

.react-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 1.5rem;
}

.created-by a,
.created-by a:visited {
    color: rgb(0, 216, 255);
    text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
